@font-face {
    font-family: "monofonto";
    src: url('/monofonto.ttf');
}

body {
    background: black;
    width: 100%;
    height: 100%;
    Color: #1ff042;
    font-family: 'monofonto';
    text-shadow: 0px 0px 4px #1ff042;
}

#cmd {
    font-family: 'monofonto';
    Color: #1ff042;
    text-shadow: 0px 0px 4px #1ff042;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
.console {
    z-index: 1; margin-bottom: 60px;
}




    #cmd span {
        float: left;
       
        white-space: pre;
    }

#cursor {
    float: left;
    width: 15px;
    height: 24px;
    background: #21f838;
}

#command {
    width: 90%;
    height: 90%;
    opacity: 0;
    resize: none;
    position: absolute;
    bottom: 0px;
}
@font-face {
    font-family: "monofonto";
    src: url('monofonto.ttf');
}

p {
    white-space: pre;
    margin: 0;
}


.textbox {
    width: 80%;
    height: 50px;
    float: right;
}

.button {
    width: 19%;
    float: left;
    height: 50px;
}

.fieldcontainer {
    bottom: 0;
    margin-top: 50px;
    position: fixed;
    width: 100%;
}
