<?xml version="1.0"?>
<!-- 
  For more information on how to configure your ASP.NET application, please visit 
  https://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>
  <location path="css"/>
  <!-- 
  <system.webServer> 
    <rewrite> 
      <rules> 
        <rule name="Rewrite default to aspx" stopProcessing="true"> 
          <match url="^$" ignoreCase="false" /> 
          <action type="Rewrite" url="default.aspx" /> 
        </rule> 
        <rule name="Rewrite page to aspx" stopProcessing="true"> 
          <match url="^([a-z0-9/]+)$" ignoreCase="false" /> 
          <action type="Rewrite" url="{R:1}.aspx" /> 
        </rule> 
      </rules> 
      <rule name="Redirect to clean URL" stopProcessing="true"> 
        <match url="^([a-z0-9/]+).aspx$" ignoreCase="true" /> 
        <action type="Redirect" url="{R:1}" /> 
      </rule> 
      <rule name="Rewrite Product ID" stopProcessing="true"> 
        <match url="^product/([0-9]+)$" ignoreCase="false" /> 
        <action type="Rewrite" url="product.aspx?id={R:1}" /> 
      </rule> 
    </rewrite> 
  </system.webServer> 
  -->
  <!-- 
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367. 
 
    The following attributes can be set on the <httpRuntime> tag. 
      <system.Web> 
        <httpRuntime targetFramework="4.5" /> 
      </system.Web> 
  -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>

    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="de-DE"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1024000" 
    requestLengthDiskThreshold="8192" useFullyQualifiedRedirectUrl="false"
     executionTimeout="3600"/>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" timeout="60" name="ASPXAUTH" defaultUrl="Admin/SignUpData.aspx"/>
    </authentication>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>